body{
  color: navy;
  text-align: center;
  background: yellow;
}

button{
  background: red;
  color: white;
  border: 3px solid navy;
}

input{
  background: red;
  color: white;
  border: 3px solid navy;

}